<h4>
  {{#link-to 'post' post.id}}
    {{post.title}}
  {{/link-to}}
  {{#if admin}}
    {{#link-to 'update' post.id}}
      <button type="button">Update</button>
    {{/link-to}}
    <button {{action 'deletePost' post}}>Delete</button>
  {{/if}}
</h4>
