{{#if post.comments}}
  <hr>
  <h4>User Comments</h4>

  <ul>
  {{#each post.comments as |comment|}}
    <li>{{comment.username}}<br>{{comment.body}}</li>
    {{delete-comment deleteComment='deleteComment' comment=comment}}
  {{/each}}
  </ul>
{{/if}}

{{new-comment post=post addComment='addComment'}}
