<div class="page-header">
  {{#link-to 'index'}}<img src="http://mediacdn.snorgcontent.com/media/catalog/product/b/o/bobloblaw_fullpic_artwork.jpg"/>{{/link-to}}
  <div class="links">
    <p>{{#link-to 'about'}}About{{/link-to}}</p>
    <p>{{#link-to 'contact'}}Contact{{/link-to}}</p>
    <p>{{#link-to 'admin'}}Admin{{/link-to}}</p>
  </div>
</div>
