<h4>Add a Comment</h4>
<div>
  <form>
    <label for="username">username:</label>{{input value=username id="username"}}
    <label for="body">comment:</label>{{input value=body id="body"}}
    <button {{action 'addComment'}}>Save</button>
  </form>
</div>
