<div class="banner">
  <img src="http://mediacdn.snorgcontent.com/media/catalog/product/b/o/bobloblaw_fullpic_artwork.jpg"/>
</div>
{{nav-bar}}

<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
  <p>© Bob Lowblaw 2013</p>
</footer>
