<div class="contact">
  <div class="content">

    <h2>Bob Loblaw:</h2>

    <hr>
    
    <p>Bob's a busy guy! But if you have a law bomb needing lobbed, or a burning questions find Bob here:
    </p>

    <p>123 NW Chocolaw St</p>
    <p>Portland, OR 97211</p>

  </div>
</div>
